php_value session.cookie_httponly 1
php_value session.cookie_secure 1
ErrorDocument 400 /ErrorPages/HTTP400.html
ErrorDocument 401 /ErrorPages/HTTP401.html
ErrorDocument 403 /ErrorPages/HTTP403.html
ErrorDocument 404 /ErrorPages/HTTP404.html
ErrorDocument 500 /ErrorPages/HTTP500.html
ErrorDocument 501 /ErrorPages/HTTP501.html
ErrorDocument 502 /ErrorPages/HTTP502.html
ErrorDocument 503 /ErrorPages/HTTP503.html
<Files ~ "\.php$">
    ErrorDocument 400 /ErrorPages/HTTP400.html
    ErrorDocument 401 /ErrorPages/HTTP401.html
    ErrorDocument 403 /ErrorPages/HTTP403.html
    ErrorDocument 404 /ErrorPages/HTTP404.html
    ErrorDocument 500 /ErrorPages/HTTP500.html
    ErrorDocument 501 /ErrorPages/HTTP501.html
    ErrorDocument 502 /ErrorPages/HTTP502.html
    ErrorDocument 503 /ErrorPages/HTTP503.html
</Files>
